services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile-nginx
    ports:
      - "8080:80"
    volumes:
      - ./index.php:/var/www/html/index.php
      - ./images:/var/www/html/images      
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  php: 
    build:
      context: .
      dockerfile: Dockerfile-php
    volumes:
      - ./index.php:/var/www/html/index.php
      - ./images:/var/www/html/images
